
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #525355;
}
.bigcontainer {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: #0f52ba;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.view {
  font-family: sans-serif;
  height: 80px;
  width: 100%;
  outline: none;
  border: rgb(64, 65, 82) solid;
  border-radius: 20%;
  text-align: left;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 20%;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
}
.operatorequal{
    width: 215%;
    margin-left: 115%;
}
.buttons button:hover {
  background-color: #7981a7;
}
.buttons button:active{
    transform: scale(0.9);
}
.operator {
  color: #100161;
}